@charset "UTF-8";
/* CSS Document */

body{
	font:normal 12px monospace; 
	background-color:#000;
	margin:10px;
	overflow-y:scroll;
}

body.courier{
	font-family: "Courier New", Courier;
}
body.monospace{
	font-family: monospace!important;
}
body.lucida{
	font-family: "Lucida Console", "Lucida", Lucida Grande; 
}
body.monaco{
	font-family: Monaco	;
}

a:visited,
a{
	color:#C30;
}
a:hover{
	color:#F00;	
}

#index a{
	text-decoration:none;
	margin:0 0 0 0;
	padding:3px 4px 3px 8px;
	background-color:#eee;
	
	position:relative;
	border:1px solid #fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}

#index a.active{
	color:#000;	
}

	caption{
		padding:5px 10px;
		font-size:16px;
		text-align:left;
		background-color:#223135;
		color:#fff;
		border-radius:5px 5px 0 0;
		
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
		-ms-border-radius:5px 5px 0 0;
		-o-border-radius:5px 5px 0 0;
	}
	.col_api{
		background-color:#CCC;	
	}
	table{
		border-collapse: collapse;
		margin:0 0 5em 0;
		
	}
	table td{
		vertical-align:top;
		color:#333;
		background-color:#fff;
		border:1px solid #eee;
		border-collapse: collapse;
		padding:1px 10px 10px 10px;
	}
	table th{
		vertical-align:top;
		color:#333;
		background-color:#eee;
		border:1px solid #ddd;
		border-collapse: collapse;
		padding:2px 10px;
	}
	
	.section{}
	.cat{}
	.section a { display:block;}
	
	p{
		margin:0 0 0 0;
		padding:3px 4px 3px 8px;
		background-color:#eee;
		color:#555;
		position:relative;
		border:1px solid #fff;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-ms-border-radius:5px;
		-o-border-radius:5px;

	}
	p:hover{
		background-color: #FFC;
	}
	span.descr{
		font:normal 12px monospace;
		line-height:15px;
		color:#fff;
		margin:0.4em 0 0.3em 0;
		padding:10px 15px;
		position:relative; width:90%; left:0; top:0; z-index:99;
		display:block;
		cursor: pointer;
		background-color:#333;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-ms-border-radius:5px;
		-o-border-radius:5px;
	}

	p.hasdescr{
		background-color: #EEEDE3;
		cursor: help;
	}
	p.hasdescr:hover{
		background-color: #FFC;
	}
	
	h2{
		font-size: 16px;
		margin: 1em 0 0.5em 0;
	}
	h3{
		font-size: 12px;
		margin: 1em 0 0.5em 0;
		color: #069;
		cursor:pointer;
	}
	
	.right{ float:right; }
	
	.footer{ font-size:10px; padding:10px; line-height:1.6em; border-top:1px solid #ddd;}
	
	form{ margin: 5px 0; text-align:right; }
	form input {}